@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
*{
        font-family: "Protest Strike", sans-serif;
        display: "flex";
        position: relative;
}
.sect-container {
    height: "100%";
    text-align: center;
    font-size: 3.5rem;
    align-items: center;
}